fastapi==0.115.0
uvicorn[standard]==0.36.0
pymysql==1.1.1
cryptography==44.0.0
sqlalchemy==2.0.37
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
pydantic==2.12.0
python-dotenv==1.0.1